MONGODB_URL= # Connection URL to MongoDB
PORT= # number of port
MONGODB_USER= # username
MONGODB_PASSWORD= #password
MONGODB_DB= # name of DB
JWT_SECRET= #secret key JWT
SMTP_HOST= #host
SMTP_PORT= #port-number
SMTP_USER= #user-mail
SMTP_PASSWORD= #password
SMTP_FROM= #your_EMAIL_from_BREVO
APP_DOMAIN= #domain
CLOUDINARY_CLOUD_NAME= #your_cloud_name
CLOUDINARY_API_KEY= #your_api_key
CLOUDINARY_API_SECRET= #your_api_secret